@font-face{
		font-family: Kalinga;
		src:url('../fonts/kalinga.ttf');
	}

@font-face{
		font-family: Pink Vapor;
		src:url('../fonts/Pink Vapor.ttf');
	}

html{
	width: 100%;
	height: 100%;
	background-color: #FDFDFD;
}

body{
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden; 
	font-family: Kalinga, sans-serif;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;
}

ul{
	list-style: none;
	padding: 0 !important
}

span{
	cursor: pointer;
}

a,a:hover,a:active,a:focus{
	text-decoration: none;
}

.btn:active{
	outline: none !important;
}

.btn:focus{
	outline: none !important;
}

#back-from-info{
	display: none;
}

.banner-header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 80px;
	width: 100%;
	background-color: transparent;
}


.header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 80px;
	width: 100%;
	background-color: #000;
	opacity: 0;
}

.header-left{
	float: left;
	padding-left: 10px;
	width: 50%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: left;
	justify-content: left;
}

.header-right{
	text-align: right;
	float: right;
	padding-right: 10px;
	width: 50%;
	height: 100%;
	color: #FFFFFF;
	
}

.header-nav-container{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	float: right;
	top: 50%;
	transform: translateY(-50%);
	display: none;
}

.login-options-container{
	position: relative;
	margin-left: 50px;
	float: right;
	top: 50%;
	font-size: 13px;
	font-weight: bold;
	transform: translateY(-50%);
	display: none;
}

#signup-btn{
	margin-left: 10px; 
	padding-top: 7px;
	background-color: transparent;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
}

.header-separator{
	margin-left: 10px;
	margin-right: 10px;
}

#item-preloader{
	position: absolute;
	z-index: 9000;
	background-color: #FFFFFF;
	height: 100%;
	width: 100%;
	z-index: 9000;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.item-del-td{
	width: 150px;
	text-align: center;
	font-size: 14px;
}

.total-table{
	background-color: #FFFFFF;
	width: 80%;
}

#cart-btn-container{
	height: 55px;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.total-td{
	font-weight: bold;
	height: 60px !important;
	text-align: center;
	border-top: none !important;
	font-size: 20px;
	width: 50%;
}

.total-label-td{
	border-right: none !important;
}

.total-amount-td{
	border-left: none !important;
}

#navigation{
	background-color: #FFFFFF;
	color: #000000;
	padding-top: 10px;
	width: 100%;
	height: 60px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin-bottom: 10px;
	z-index: 1000;
}

/*.nav-item{
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

.nav-item:hover{
	border-bottom: 2px solid red;
}

.active-nav-item{
	border-bottom: 2px solid red;
}*/

#preloader{
	position: absolute;
	z-index: 5000;
	height: 100%;
	width: 100%;
	background-color: #1E2226;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	color: #FFFFFF;
}

.bottom{
	margin-top: 50px;
}

#cart-brand{
	font-size: 28px;
	font-weight: bold;
}

.cart-btn{
	width: 230px;
	height: 100%;
	margin-left: 20px;
	margin-right: 20px;
	border: 2px solid #1E2226;
	font-weight: bold;
	font-size: 12px;
}

#continue-shopping{
	background-color: transparent;
	color: #1E2226;
}

#proceed-to-checkout{
	background-color: #1E2226;
	color: #FFFFFF;
}

.item-name-td,.item-name-th{
	text-align: left;
	padding-left: 20px; 
	padding-right: 20px;
	text-align: justify;
	width: 150px;
}

.item-qty-td, .item-price-td,.item-qty-th,.item-price-th{
	width: 150px;
	text-align: center;
}

.cart-item-name{
	font-size: 18px;
	color: red;
}

.cart-item-qty{
	font-size: 18px;
}

.cart-item-price{
	font-size: 18px;
}


.container{
	width: 100% !important;
	padding: 0 !important;
/*	overflow: scroll;
	overflow-x: hidden;*/
}

#black-overlay{
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: #000000;
	opacity: .3;
}

#banner-background{
	position: fixed;
	z-index: -2;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url('../images/bg1.jpg');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

#banner{
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%;
	background: transparent;
}

.main-items-container{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.item-container{
	position: relative;
	margin-bottom: 10px;
	background-color: transparent;
	opacity: .9;
	cursor: pointer;
	color: #1E2226;
}

.item-container img{
	height: 85%;
	width: 85%;
	max-width: 250px; 
}

#logo{
	height: 65px;
	width: 55px;
	color: #FFFFFF;
	padding-top: 3px;
	padding-left: 3px;
	font-size: 38px;
	font-family: Pink Vapor;
	border: 3px solid #FFFFFF;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.item-modal-dialog{
	position: relative;
	height: 80% !important;
	width: 80% !important;
}

#info-container{
	height: 100%;
	width: 100%;
	background-color: #ffffff;
}

#info-left{
	float: left;
	height: 100%;
	width: 50%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.extra-break{
	display: none;
}

#info-left img{
	height: 90%;
	width: 100%;
}

#info-left .labels{
	display: none;
}

#info-right{
	position: relative;
	height: 100%;
	width: 50%;
	color: #1E2226;
	padding-left: 50px;
	padding-right: 50px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: left;
	align-items: left;
	-webkit-justify-content: center;
	justify-content: center;
	overflow-x: hidden;
}

.labels{
	font-size: 20px;
}

.modal-item-desc{
	text-align: justify;
	padding-bottom: 20px;
	border-bottom: 1px solid #1E2226;
	font-size: 12px;
}

.modal-item-size-container{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
}

.modal-item-size{
	margin-right: 10px;
	margin-top: 10px;
	padding: 10px;
	font-size: 12px;
	border: 2px solid #FFFFFF !important;
	font-weight: bold;
	border-radius: 4px;
	float: left;
	cursor: pointer;
}

.modal-item-size:hover{
	border: 2px solid #1E2226 !important;
	background-color: #FFFFFF !important;
	color: #1E2226 !important;
}

.modal-item-size-active{
	border: 2px solid #1E2226 !important;
	background-color: #FFFFFF !important;
	color: #1E2226 !important;
}

.add-to-cart-container{
	text-align: left;
}

#add-to-cart{
	margin-top: 10px;
	height: 45px;
	width: 220px;
	border: 2px solid #1E2226;
	background-color: transparent;	
	color: #1E2226;
	font-weight: bold;
	font-size: 12px;
}

#add-to-cart:focus,#add-to-cart:active,#add-to-cart:hover{
	outline: none !important;
	background-color: #1E2226;
	color: #FFFFFF;
}

#close-modal-btn{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 32px;
	margin-right: 12px;
	color: #1E2226;
	padding: 5px;
	font-size: 28px;
}

.modal-item-price{
	margin-bottom: 20px;
}

/*.item-price{
	font-size: 1.1em;
}

.item-name{
	font-size: 1.1em;
}

.item-pipe{
	font-size: 1.2em;
}*/

.overlay{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(73,73,73,.6);
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.view-btn{
	font-size: 32px;
	color: #FFFFFF;
}

#brand-container{
	height: 100%;
	width: 100%;
	color: #FFFFFF;
	font-weight: bold;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.brand{
	font-size: 108px;
	font-family: Pink Vapor;
	margin: 0 !important;
}

.brand-motto{
	margin-bottom: 50px;
	font-size: 18px;
}

.cart-table{
	position: relative;
	margin-top: 30px;
	background-color: #FFFFFF !important;
	width: 80%;
	margin-bottom: 1px;
}

td, th{
	border: 1px solid #DDDDDD;
}

.item-image-td{
	padding-bottom: 10px;
	padding-top: 10px;
	width: 200px !important;
}

.item-info-td{
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

.item-qty-td, .item-price-td{
	text-align: center;
}

thead{
	color: #1E2226;
	font-size: 11px;
	font-weight: bold;
}

thead tr{
	height: 50px;
}

#cart-item-image{
	width: 90px;
	height: 90px;
}

#item-info-td{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

#cart-container{
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 40px;
	background-color: #F3F3F3;
	width: 100%;
	text-align: center !important;
}

#item-modal{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2000;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	background-color: rgba(73,73,73,.7);
}

.quantity-control{
	font-size: 18px;
	padding: 0;
}

.quantity-minus{
	margin-left: 40px;
	float: left;
}

.quantity-add{
	margin-right: 40px;
	float: right;
}

.sticky{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
}

#main{
	position: relative;
	z-index: 2;
	float: left;
	padding-bottom: 60px;
	min-height: 100vh;
	width: 100%;
	text-align: center;
	background-color: #FDFDFD;
}

#shop-btn, #shop-btn:active{
	margin-right: 5px;
	border: 3px solid #FFFFFF;
	background-color: transparent;
	height: 55px;
	font-size: 16px;
	width: 200px;
	font-weight: bold;
	color: #FFFFFF;
	padding-top: 10px;
	outline: none;
}

#shop-btn:hover{
	background-color: #000;
	color: #FFFFFF;
	border: 3px solid #000;
}

#monthly-cover-btn, #monthly-cover-btn:hover, #monthly-cover-btn:active{
	margin-left: 5px;
	border: 3px solid #FFFFFF;
	background-color: transparent;
	height: 50px;
	font-size: 16px;
	width: 200px;
	font-weight: bold;
	color: #FFFFFF;
	outline: none;
}

.item-info-container{
	text-align: center;
}

.notification-bubble{
	top: -2;
	display: inline-block;
	background-color: red;
	color: #FFFFFF;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
	font-weight: bold;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}


.nav-item {
	position: relative;
	display: inline-block;
	font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.nav-item:after {
    content: '';
    display: block;
    height: 2px !important;
    background: transparent;
    width: 0;
    transition: width .5s ease, background-color .5s ease;
}

.nav-item:hover:after {
	position: absolute;
    width: 100%;
    background: #1E2226;
}

.active-nav-item:after{
	position: absolute;
	width: 100%;
	background: #1E2226 !important;
}

.cart-icon{
	position: fixed;
	z-index: 1000;
	font-size: 25px;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	padding: 10px;
	right: 20px;
	bottom: 10px;
}