<div id="cart-container">
	<center>
		<table class="cart-table">
			<thead>
				<tr>
					<th class="item-image-td"></th>
					<th class="item-info-td">PRODUCT</th>
					<th class="item-qty-td">QUANTITY</th>
					<th class="item-price-td">PRICE</th>
					<th class="item-del-td"><span class="glyphicon glyphicon-trash"></span></th>
				</thead>
				</tr>
			<tbody>
				{% for item in cart %}
				<tr class="rows">
					<td class="item-image-td">
						<center>
							<img id="cart-item-image" src="{{item.image}}">
						</center>
					</td>
					<td class="item-info-td">
						<span id="cart-item-name">{{item.name}}</span><br />
						<span id="cart-item-size">Size: {{item.size}}</span>
					</td>
					<td class="item-qty-td">
						<span class="quantity-control quantity-minus" onclick="quantity_control('cart-'+{{(item.id)}}, 'deduct')">-</span>
						 <span id="cart-{{(item.id)}}" class="cart-item-qty">{{item.quantity}}</span>
						<span class="quantity-control quantity-add" onclick="quantity_control('cart-'+{{(item.id)}}, 'add')">+</span>
					</td>
					<td class="item-price-td">
						&#8369;<span class="cart-{{(item.id)}}" price="{{item.price}}">{{item.price|int * item.quantity|int}}</span>.00
					</td>
					<td class="item-del-td">
						<span id="{{item.id}}" class="glyphicon glyphicon-trash"></span>
					</td>
				</tr>
				{% endfor %}
				<table class="total-table">
					<tr class="total-tr">
						<td class="total-td">
							TOTAL:
						</td>
						<td class="total-td">
							&#8369;<span id="cart-total">{{total}}</span>.00
						</td>
					</tr>
				</table>
			</tbody>
		</table>
	</center>
</div>


