<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/bootstrap.css.map">
        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../static/css/bootstrap-theme.css.map">
		<link rel="stylesheet" media="screen and (min-width: 0px) and (max-width: 768px)" href="../static/css/xs.css">
		<link rel="stylesheet" media="screen and (min-width: 768px) and (max-width: 1500px)" href="../static/css/style.css">
        <title>TheBlueBox</title>
	</head>
	<body>
		<div class="container">
			<div class="cart-icon" onclick="open_cart()">
				<span class="glyphicon glyphicon-shopping-cart"></span>
			</div>
			<!-- <div id="preloader">
				Put preloader gif here
			</div> -->

			<div id="header">
			<div id="black-overlay"></div>
			<div id="header-background"></div>
				<div id="brand-container">
					<span class="brand">The Blue Box</span><br />
					<center>
					<button id="shop-btn" type="button" class="btn">SHOP NOW</button>
					</center>
				</div>
			</div>
			<div id="main">
				<div id="navigation">
					<ul>
						<li class="nav-item active-nav-item">SHIRTS</li>
				        <li class="nav-item">PANTS</li>
				        <li class="nav-item">SHOES</li>
				        <li class="nav-item">ACCESSORIES</li>
						<!-- <div id="nav-cart-container" class="nav-item">
							<li id="nav-cart">SHOPPING CART</li>
							<div class="notification-bubble">2</div>
						</div> -->
					</ul>
				</div>
				<br />
				{% for i in items %}
				<div id="{{i.id}}" class="item-container col-md-3 col-sm-4 col-xs-12" data-toggle="modal" onclick="supply_data(this.id)">
					<div class="item-image-container">
						<img src="{{i.image}}">
					</div>
					<div class="item-info-container">
						<span class="item-name">{{i.name}}</span>
						<span class="item-pipe">|</span>
						<span class="item-price">&#8369;{{i.price}}.00</span>
					</div>
				</div>
				{% endfor %}
			</div>
			<div id="item-modal">
	                <div class="item-modal-dialog">
	                        <div class="modal-content">
	                                <div id="info-container"></div>
	                        </div><!-- /.modal-content -->
	                </div><!-- /.modal-dialog -->
	        </div>
		</div>

		<script src="../static/js/jquery-1.11.0.min.js"></script>
        <script src="../static/js/animations.js"></script>
        <script src="../static/js/jquery.scrollTo.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/functions.js"></script>
        <script src="../static/js/easing.js"></script>
        <script src="../static/js/jquery-ui.js"></script>
	</body>
</html>